@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(./Assets/bg.webp);
}

.bg-grad {
  background-image: linear-gradient(
    90deg,
    rgba(40, 160, 240, 0.5) 1.46%,
    rgba(239, 130, 32, 0.5) 98.51%
  );
}

.borderClr {
  border-color: rgba(195, 195, 195, 0.14);
}
